body {
    font-size: 18px;
}

/*@media (min-width: 992px) {
    .container {
        max-width: 960px !important;
    }
}*/

.navbar,
.navbar-brand,
.form-control {
    font-size: 1em;
}

.navbar-brand {
    max-width: calc(100vw - 120px);
}

.navbar-brand img,
.navbar-brand svg {
    width: auto;
    height: 40px;
    max-width: 100%;
}

.navbar-brand small {
    display: block;
    margin-top: 5px;
    white-space: normal;
}

body.homepage .navbar-brand img,
body.homepage .navbar-brand svg {
    height: 80px;
}

body.homepage .navbar-brand small {
    font-size: 1em;
}

.nav.navbar-nav {
    margin-left: auto;
}

.nav.navbar-nav.ml-auto {
    margin-left: 0 !important;
}

.nav.navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
}

.navbar-dark .navbar-toggler {
    border: 2px solid #fff;
    border-radius: 5px;
}

.navbar-dark .navbar-toggler-icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1.0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.banner {
    margin: 1rem 0 2.5rem;
    padding: 2.75rem 3rem;
    background: #008cba;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
}

img {
    max-width: 100%;
}

div[role=main] a:not(.btn),
footer a:not(.btn) {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 10%;
}

div[role=main] a:hover,
footer a:hover {
    text-decoration-thickness: 20%;
}

.btn {
    font-size: 1em;
    font-weight: normal;
    padding: 0.5rem 1rem;
}

footer {
    font-size: 14px;
    color: #777;
}

footer img {
    max-height: 40px;
    filter: grayscale(100%) contrast(200%) opacity(50%);
}

footer a:hover img {
    max-height: 40px;
    filter: grayscale(100%) contrast(200%) opacity(80%);
}
